<div class="post-container" mat-dialog-content>
    <div class="post-item">
        <p>
            <img *ngIf="originalPost.thumbnail !='default'" src={{originalPost.thumbnail}} onError="this.src='../../assets/images/default.png';">
            <img *ngIf="originalPost.thumbnail =='default' " src='../../assets/images/default.png'>
            <span
                [style.background-color]="catagoryColor[originalPost.link_flair_text]">{{originalPost.link_flair_text}}</span>
            {{originalPost.title}}
        </p>
        <p *ngIf='originalPost.is_video'>Video Available</p>
        <ul class="post-info">
            <li>Posted by <span>{{originalPost.author}}</span></li>
            <li><span class="comments">{{originalPost.num_comments | roundToThousand:2}}</span> Comments</li>
            <li><span class="ups">{{originalPost.score | roundToThousand:2}}</span> Ups</li>
        </ul>
        <hr>
    </div>
    <div class="post-discussion">
        <div class="main-threads" *ngFor='let discussionItem of discussionItems'>
            <ul class="post-info">
                <li>Posted by <span>{{discussionItem.data.author}}</span></li>
                <li><span class="ups">{{discussionItem.data.score | roundToThousand:2}}</span> Ups</li>
            </ul>
            <p>{{discussionItem.data.body}}</p>
            <span class="read-more" *ngIf='discussionItem.data.replies != ""' (click)='expandDiscussionThread(discussionItem.data.replies.data.children)'>Continue this thread >></span>
            <div class="more-threads" *ngIf='discussionItem.data.replies'>                    
            </div>
            <hr>
        </div>
    </div>
</div>